<h1 class="d-flex justify-content-center">Submit Your Order!</h1>

<div class="d-flex justify-content-center">
    <div class="row">
        <ul class="list-group">
            <div class="alert alert-primary" role="alert">
                {{menu.restaurantName}} <br />
                {{menu.restaurantAddress}} <br />
                {{menu.restaurantHours}}
            </div>
            <li *ngFor="let item of getSelected()"
                class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{item.name}}</div>
                    {{item.description}}
                    <br />
                    <button type="button" class="btn btn-primary" (click)="removeMenu(item)">Remove</button>
                </div>

                <span class="badge text-bg-secondary rounded-pill">${{item.price}}</span>
            </li>
            <div class="alert alert-danger" role="alert">Total: ${{menu.total}}</div>
        </ul>
    </div>


    <div class="d-flex flex-column ms-3 rounder border position-relative">
        <div class="alert alert-secondary" role="alert">Enter Payment Information</div>
        <div class="row p-2">
            <div class="col-11 m-auto">
                <label for="ccName" class="col-form-label-sm">Card Holder Name</label>
                <input type="text" class="form-control form-control-sm" id="ccName" placeholder="Joe Card"
                    [(ngModel)]="payment.ccHolderName">
            </div> 
        </div>
        <div class="row p-2">
            <div class="col-11 m-auto">
                <label for="ccNumber" class="col-form-label-sm">CC Number</label>
                <input type="text" class="form-control form-control-sm" id="ccNumber" placeholder="123 456 789 1111"
                    [(ngModel)]="payment.ccNumber">
            </div>
        </div>
        <div class="row p-2">
            <div class="col-6 m-auto">
                <label for="ccExpMonth" class="col-form-label-sm">CC Exp Month</label>
                <input type="text" class="form-control  form-control-sm" id="ccExpMonth" placeholder="10"
                    [(ngModel)]="payment.expMonth">
            </div>
        </div>
        <div class="row p-2">
            <div class="col-6 m-auto">
                <label for="ccExpYear" class="col-form-label-sm">CC Exp Year</label>
                <input type="text" class="form-control  form-control-sm" id="ccExpYear" placeholder="2025"
                    [(ngModel)]="payment.expYear">
            </div>
        </div>
        <div class="row p-2">
            <div class="col-6 m-auto">
                <label for="ccCVV" class="col-form-label-sm">CVV</label>
                <input type="text" class="form-control  form-control-sm" id="ccCVV" placeholder="630"
                    [(ngModel)]="payment.cvv">
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary mt-4 position-absolute top-100 start-50 translate-middle" (click)="submitOrder()">Place Order</button>
        </div>
    </div>
</div>
<div class="alert alert-success fixed-bottom text-center" role="alert" *ngIf="ordersuccess">Thank you for your order!</div>